* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f8f9fa;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  color: #48cae4;
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 4px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#home {
  padding-top: 200px;
  padding-left: 300px;
  padding-bottom: 400px;
}

#home p {
  color: #48cae4;
  font-size: 18px;
}

#home p:first-child {
  margin-bottom: 18px;
}

#home h1 {
  font-size: 72px;
  margin-bottom: 18px;
}

#home h2 {
  font-size: 54px;
  margin-bottom: 18px;
}

.button {
  display: inline-block;
  padding: 18px 36px;
  background-color: #48cae4;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 18px;
  margin-top: 72px;
  border-radius: 6px;
}

.btn:hover {
  background-color: #1e90ff;
}

#projects {
  max-width: 1000px;
  padding-left: 300px;
}

#projects h1 {
  font-size: 72px;
  margin-bottom: 100px;
}

.project {
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project a {
  text-decoration: none;
  color: black;
}

.project img {
  max-width: 100%;
  height: auto;
  width: 600px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.project-description h2 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 12px;
}

.project-description h3 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: normal;
}

.project-description h4 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: #1e90ff;
}